In [4]:
import numpy as np
import pandas as pd

In [7]:
np.__version__

'1.20.1'

In [8]:
pd.__version__

'1.2.4'

In [9]:
Data = pd.read_csv("data.csv")

In [10]:
print(Data)

          Make       Model  Year                Engine Fuel Type  Engine HP  \
0          BMW  1 Series M  2011     premium unleaded (required)      335.0
1          BMW    1 Series  2011     premium unleaded (required)      300.0
2          BMW    1 Series  2011     premium unleaded (required)      300.0
3          BMW    1 Series  2011     premium unleaded (required)      230.0
4          BMW    1 Series  2011     premium unleaded (required)      230.0
...        ...         ...   ...                             ...        ...
11909    Acura         ZDX  2012     premium unleaded (required)      300.0
11910    Acura         ZDX  2012     premium unleaded (required)      300.0
11911    Acura         ZDX  2012     premium unleaded (required)      300.0
11912    Acura         ZDX  2013  premium unleaded (recommended)      300.0
11913  Lincoln      Zephyr  2006                regular unleaded      221.0

       Engine Cylinders Transmission Type      Driven_Wheels  Number of Doors  \
0                   6.0            MANUAL   rear wheel drive              2.0
1                   6.0            MANUAL   rear wheel drive              2.0
2                   6.0            MANUAL   rear wheel drive              2.0
3                   6.0            MANUAL   rear wheel drive              2.0
4                   6.0            MANUAL   rear wheel drive              2.0
...                 ...               ...                ...              ...
11909               6.0         AUTOMATIC    all wheel drive              4.0
11910               6.0         AUTOMATIC    all wheel drive              4.0
11911               6.0         AUTOMATIC    all wheel drive              4.0
11912               6.0         AUTOMATIC    all wheel drive              4.0
11913               6.0         AUTOMATIC  front wheel drive              4.0

                             Market Category Vehicle Size  Vehicle Style  \
0      Factory Tuner,Luxury,High-Performance      Compact          Coupe
1                         Luxury,Performance      Compact    Convertible
2                    Luxury,High-Performance      Compact          Coupe
3                         Luxury,Performance      Compact          Coupe
4                                     Luxury      Compact    Convertible
...                                      ...          ...            ...
11909             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11910             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11911             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11912             Crossover,Hatchback,Luxury      Midsize  4dr Hatchback
11913                                 Luxury      Midsize          Sedan

       highway MPG  city mpg  Popularity   MSRP
0               26        19        3916  46135
1               28        19        3916  40650
2               28        20        3916  36350
3               28        18        3916  29450
4               28        18        3916  34500
...            ...       ...         ...    ...
11909           23        16         204  46120
11910           23        16         204  56670
11911           23        16         204  50620
11912           23        16         204  50920
11913           26        17          61  28995

[11914 rows x 16 columns]

In [19]:
Data[Data.Make == "BMW"].MSRP.mean()

61546.76347305389

In [28]:
Data[Data.Year >= 2015][["Engine HP"]].isnull().sum()

Engine HP    51
dtype: int64

In [29]:
Data[Data.Year >= 2015][["Engine HP"]].mean()

Engine HP    272.987719
dtype: float64

In [31]:
Data2 = Data[Data.Year >= 2015][["Engine HP"]].fillna(272.987719)

In [32]:
Data2.mean()

Engine HP    272.987719
dtype: float64

In [63]:
TX = Data[Data.Make == "Rolls-Royce"][["Engine HP", "Engine Cylinders", "highway MPG"]]
X = TX.drop_duplicates()
X

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [65]:
XT = X.T
XTX = XT.dot(X)
inv = np.linalg.inv(XTX) 
sum_inv = sum(sum(inv))

In [66]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [67]:
w = inv.dot(X.T).dot(y)
w

array([ 0.19989598, 31.02612262, 31.65378877])